<div class="container">

  <div class="row">

    <div class="col-md-3">

      <div class="form-group">
        <label for="search">Search</label>
        <input type="text" class="form-control" id="search" [(ngModel)]="search" (ngModelChange)="findByCity()" aria-describedby="searchHelp" placeholder="Find by City...">
        <small id="emailHelp" class="form-text text-muted">Filtro</small>    
      </div>

    </div>

    <div class="col-md-9">

        <h1>{{ search }}</h1>
        <hr/>

        <div class="card-group">
          <div class="row">
            <div class="card col-md-4" *ngFor="let item of _ticketmaster.shows; let i = index">

              
              <img class="card-img-top" [src]="item.images | ticketmaster" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>

                <p *ngFor="let a of item._embedded.attractions" class="card-text">{{ a.name }}</p>
                <p class="card-text" ><small class="text-muted">{{ item.dates.start.dateTime | date:'dd/MM/yyyy   HH:mm' }}</small></p>
                <p class="card-text"><small class="text-muted">Desde {{ item.priceRanges | ticketPrice | currency:'EUR' }}</small></p>
                <a  [routerLink]="[item.id]" class="badge badge-primary">Ver mas detalles</a>
                <a [href]="item.url" target="_blank" class="badge badge-dark">Ver sitio web</a>
              </div>
            </div>
          </div>          
        </div>
    </div>
  </div>
  <ngb-pagination [collectionSize]="pageSize" [pageSize]="20" [page]="page" aria-label="Default pagination"></ngb-pagination>


</div>