<div class="container">

  <div class="row">

    <div class="col-md-3 d-none d-lg-block">

      <div class="form-group">
        <small id="emailHelp" class="form-text text-muted">Ciudades</small>    
        <ul class="list-group">
          <li *ngFor="let city of cities" class="list-group-item">
            <a [routerLink]="" (click)="findByCity(city)" class="list-group-item list-group-item-action" >{{ city }}</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="col-md-9">

        <h1>{{ search }}</h1>
        <hr/>

        <div class="card-group">
          <div class="row">
            <div class="card col-md-4" *ngFor="let item of _ticketmaster.shows; let i = index">

              
              <img class="card-img-top" [src]="item.images | ticketmaster" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>

                <p *ngFor="let a of item._embedded.attractions" class="card-text">{{ a.name }}</p>
                <p class="card-text" ><small class="text-muted">{{ item.dates.start.dateTime | date:'dd/MM/yyyy   HH:mm' }}</small></p>
                <p class="card-text"><small class="text-muted">Desde {{ item.priceRanges | ticketPrice | currency:'EUR' }}</small></p>
                <a  [routerLink]="[item.id]" class="badge badge-primary">Ver mas detalles</a>
                <a [href]="item.url" target="_blank" class="badge badge-dark">Ver sitio web</a>
              </div>
            </div>
          </div>          
        </div>
    </div>
  </div>
</div>