<section class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">
            Hola!!, 
            </h1>
            <h2>
              <p>Me alegro que hayas llegado hasta aqui, ahora te ofrezco que puedas buscar en TicketMaster los espectaculos que ellos ofrecen.</p>
              <p>Yo ,<small>Jon Ander</small> no trabajo para <a target="_blank" href="https://www.ticketmaster.es/">ticketmaster</a> ni nada parecido. De hecho, aqui me puedes conocer <a href="http://jonander.info">Web</a> </p>
            </h2>
          <a [routerLink]="['ticketmaster']" class="btn btn-outline btn-xl js-scroll-trigger">Buscar espectaculo YA!</a>
        </div>
      </div>
    </div>
  </div>
</section>