section {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    background: url('../../../assets/img/bg-pattern.png'),
    linear-gradient(to left,#7b4397,#dc2430);
}